<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	#Auth
	RewriteRule ^auth$ /Projet-PHP/APIAuth/auth_api.php.php

	RewriteRule ^medecins/?$ /Projet-PHP/API/medecin_api.php [L]
	RewriteRule ^medecins/([0-9]+)$ /Projet-PHP/API/medecin_api.php?id=$1 [L]
	RewriteRule ^usagers/?$ /Projet-PHP/API/patient_api.php [L]
	RewriteRule ^usagers/([0-9]+)$ /Projet-PHP/API/patient_api.php?id=$1 [L]
	RewriteRule ^consultations/?$ /Projet-PHP/API/consultations_api.php [L]
	RewriteRule ^consultations/([0-9]+)$ /Projet-PHP/API/consultations_api.php?id=$1 [L]
	RewriteRule ^stats/medecins /Projet-PHP/API/stats_api.php?cible=med [L]
	RewriteRule ^stats/patients /Projet-PHP/API/stats_api.php?cible=usa [L]
	
</IfModule>