<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	RewriteBase /Projet-PHP/
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	#Auth
	RewriteRule ^auth$ APIAuth/auth_api.php

	# medecins
	RewriteRule ^medecins/?$ API/medecin_api.php [L]
	RewriteRule ^medecins/([0-9]+)$ API/medecin_api.php?id=$1 [L]
	
	#usagers
	RewriteRule ^usagers/?$ API/patient_api.php [L]
	RewriteRule ^usagers/([0-9]+)$ API/patient_api.php?id=$1 [L]
	
	# consultations
	RewriteRule ^consultations/?$ API/consultations_api.php [L]
	RewriteRule ^consultations/([0-9]+)$ API/consultations_api.php?id=$1 [L]
	
	# stats
	RewriteRule ^stats/medecins API/stats_api.php?cible=med [L]
	RewriteRule ^stats/patients API/stats_api.php?cible=usa [L]
	
</IfModule>