*{
  font-family: revert;
}
.log{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  border-radius: 40px;
  border: 5px solid;
}

label.log {
  border: none;
  border-style: none;
  font-size: x-large;
  text-shadow: 4px 2px 2px white;
}

input#login, input#mdp{
  border-radius: 40px;
  margin-bottom: 3%;
  height: 15%;
  width: 80%;
}

button{
  width: 150px;
  height: 40px;
  border-radius: 40px;
  background-color: #373737;
  color: white;
  border : 4px double black;
  font-family: revert;
  font-weight: bold;
}

button:hover{
  background-color: whitesmoke;
  color: black;
}

//

.bouton{
  margin-left: 5%;
}
.menu{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin-top: 3%;
}

a, a:visited {
  color: #03045e;
  text-decoration: none;
}

nav {
  background: none;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px #caf0f8;
}

nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

nav > ul > li:after , nav > ul > li:before{
  content: '';
  width: 0;
  height: 3px;
  background: #00b4d8;
  position: absolute;
  transition: all 0.3s;
}

nav > ul > li:before {
  left: 0px;
  top: -5px;
}

nav > ul > li:after{
  right: 0px;
  bottom: -5px;
}

nav > ul > li:hover:after, nav > ul > li:hover:before {
  width: 100%;
}

h2{
  line-height: 1.5;
  text-decoration: underline;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
}
.titre{
  height: 50%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1%;
  background-color: rgb(90, 128, 255, 1.0);
}
.caducée{
  padding-top: 2%;
  margin:auto;
  text-align: center;
}
#caducée{
  width: 20%;
  height: 20%;
}
body{
  background-color: white;
}
table{
  text-align: center;
  width: 80%;
  margin-top: 3%;
  border-radius: 40px;
  border: 5px solid;
  overflow: hidden;
  background-clip: padding-box;
  border-collapse: collapse;
}
thead{
  font-size: large;
  font-weight: bold;
}
th{
  font-size: x-large;
  text-decoration: underline;
}
tbody > tr:hover{
  background-color: #808080;
}
.tablo{
  display: flex;
  justify-content: center;
  text-align: center;
}
.amsbouton{
  margin-left: 2%;
}
.ams{
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 1%;
}
.selected{
  background-color: green;
}
.tab-med{
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}
