*{
  font-family: revert;
  background-color: #90CAF9;
}
.log{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  border-radius: 40px;
  border: 5px solid;
  background-color: white;
}

div.log{
  height: 30%;
  width: 70%;
}

label.log {
  border: none;
  border-style: none;
  font-size: x-large;
  text-shadow: 4px 2px 2px white;
}

.formLog{
  background-color: white;
}

input#login, input#mdp{
  border-radius: 40px;
  margin-bottom: 3%;
  height: 15%;
  width: 80%;
}

button{
  width: 100px;
  height: 50px;
  border-radius: 40px;
  background-color: none;
  color: rgb(0, 0, 0);
  border : 4px double black;
  margin: 1%;
}

#add{
  height: 100%;
}

#pen{
  height: 100%;
}

#trash{
  height: 100%;
}

//

.bouton{
  margin-left: 5%;
}
.menu{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin-top: 3%;
}

a, a:visited {
  color: #03045e;
  text-decoration: none;
}

nav {
  background: none;
  border-radius: 30px;
  /*box-shadow: 7px 7px 7px 7px #caf0f8;*/
  border-color: #caf0f8;
  border-style: solid;
}

nav ul li {
  background-color: #90CAF9;
  display: inline-block;
  list-style: none;
  font-size: 1.4rem;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

nav > ul > li:after , nav > ul > li:before{
  content: '';
  width: 0;
  height: 3px;
  background: #64B5F6;
  position: absolute;
  transition: all 0.3s;
}

nav > ul > li:before {
  left: 0px;
  top: -5px;
}

nav > ul > li:after{
  right: 0px;
  bottom: -5px;
}

nav > ul > li:hover:after, nav > ul > li:hover:before {
  width: 100%;
}

h2{
  line-height: 1.5;
  text-decoration: underline;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
  background-color: #90CAF9;
  color: white;
}
.titre{
  height: 50%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1%;
  background-color: #90CAF9;
}
.caducée{
  padding-top: 2%;
  margin:auto;
  text-align: center;
  background-color: #90CAF9;
}
#caducée{
  width: 20%;
  height: 20%;
}
body{
  background-color: 90CAF9;
}
table{
  text-align: center;
  width: 80%;
  margin-top: 3%;
  border-radius: 10px;
  border: 5px solid;
  overflow: hidden;
  background-clip: padding-box;
  border-collapse: collapse;
}
thead{
  font-size: large;
  font-weight: bold;
}
th{
  font-size: x-large;
  text-decoration: underline;
}
tbody > tr:hover{
  background-color: #808080;
}
.addButton{
  display: flex;
}
.tablo{
  display: flex;
  justify-content: center;
  text-align: center;
}
.amsbouton{
  margin-left: 2%;
}
.ams{
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 1%;
}
.selected{
  background-color: green;
}
.tab-med{
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}
